.custom-bg-sky-800 {
    background-color: #234e52; /* Equivalent to bg-sky-800 in Tailwind */
  }
  
  .custom-text-white {
    color: #fff; /* Equivalent to text-white in Tailwind */
  }
  
  .custom-px-4 {
    padding-left: 1rem; /* Equivalent to px-4 in Tailwind */
    padding-right: 1rem;
  }
  
  .custom-py-1 {
    padding-top: 0.25rem; /* Equivalent to py-1 in Tailwind */
    padding-bottom: 0.25rem;
  }
  
  .custom-rounded-lg {
    border-radius: 0.5rem; /* Equivalent to rounded-lg in Tailwind */
  }
  
  .custom-w-fit {
    display: inline-block; /* Equivalent to w-fit in Tailwind */
    width: fit-content;
  }
  

.arrow{
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
}